* {
    margin: 0px;
    padding: 0px;
    background-color: #98ffff;
}

nav {
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
}
nav h1{
    font-family: 'Pacifico', cursive;
}

nav button {
    width: 20vw;
    margin: 2em;
    background-color: yellow;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}
nav button:hover {
    width: 20vw;
    margin: 2em;
    background-color: greenyellow;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

#winner {
    text-align: center;
    margin: 20px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    align-content: space-between;
}

.body>div {
    margin: 2em;
}
.body>div>h1{
    display: none;
}
footer{
    background-color: yellow;
    font-size: 1.5em;
    text-align: center;
}